{% extends "base.html" %}
{% block title %}Nowy post{% endblock %}
{% block content %}
{% if curr_user %}
<section class="form-card">

  <h2>Dodaj nowy post</h2>
  <form method="post" class="form">
    <div class="form-group">
      <label for="title">Tytuł</label>
      <input type="text" id="title" name="title" required minlength="3" maxlength="120">
    </div>

    <div class="form-group">
      <label for="body">Treść</label>
      <textarea id="body" name="body" required minlength="5"></textarea>
    </div>

    <div class="form-group">
      <label for="game">Gra</label>
      <select id="game" name="game_id" required>
          <option value="-1">-- Wybierz grę -- </option>
        {% for game in games %}
          <option value="{{ game.id }}">{{ game.title }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit" class="btn">Dodaj post</button>
  </form>

</section>
{% else %}
  <div class="post-card">

    <a style=" text-decoration:underline" href="{{ url_for('login') }}">
      <p>Musisz być zalogowany, aby dodać nową planszówkę.</p>
      Zaloguj się
    </a>
  </div>
{% endif %}






{% endblock %}