{% extends "base.html" %}
{% block title %}Rejestracja{% endblock %}
{% block content %}
<section class="form-card">
  <h2>Rejestracja</h2>
  <form method="post" class="form">
    <div class="form-group">
      <label for="username">Login</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="pwd">Hasło</label>
      <input type="password" id="pwd" name="password" required>
    </div>

    <div class="form-group">
      <label for="repeated-pwd">Powtórz hasło</label>
      <input type="password" id="repeated-pwd" name="repeat_pwd" required>
    </div>

    <button type="submit" class="btn">Zarejestruj</button>
  </form>
  <p class="form-footer">
    Masz konto? <a href="{{ url_for('login') }}">Zaloguj się</a>
  </p>
</section>
{% endblock %}