{% extends "base.html" %}
{% block title %}Rejestracja{% endblock %}
{% block content %}
<h2>Rejestracja</h2>
<form method="post" class="form">
  <label>Login <input type="text" name="username" required></label><br>
  <label>Hasło <input type="password" name="pwd" required></label><br>
   <label>Hasło <input type="password" name="repeated-pwd" required></label><br>
  <button type="submit">Zarejestruj</button>
</form>
<p>Masz konto? <a href="{{ url_for('login') }}">Zaloguj się</a></p>
{% endblock %}